<style>
  #footer {
    background:black;
  }

  .textFooter {
    margin:0;
    padding: 15px 0;
    text-align:center;
    color:white;
    font-weight: 700;
  }

  .footer-logo {
    width:2%;
  }

  .link-footer {
    margin-right:5px;
    -webkit-transition: opacity 0.3s;
  }

  .link-footer:hover {
    opacity:0.6;
  }

</style>

<div id="footer" class="main-width" style="border-top: 1px solid white; padding: 25px;">
  <p class="textFooter" style="padding-bottom: 0;">SPACE APPs CHALLENGE 2019</p>
  <div class="textFooter" style="padding-top: 10px;">
    <a class="link-footer" target="_blanck" href="https://www.space-track.org"><img class="footer-logo" src="assets/images/icon_internet.svg"></a>
    <a class="link-footer" target="_blanck" href="https://twitter.com/Spaceapps_VALL"><img class="footer-logo" src="assets/images/icon_twitter.svg"></a>
    <a class="link-footer" target="_blanck" href="https://www.facebook.com/SpaceTrack"><img class="footer-logo" src="assets/images/icon_facebook.svg"></a>
   </div> 
</div>

