<div class="jumbotron">
    <h1>Nuestro equipo <img src="assets/images/space_rocket.png" alt="Space rocket" width="4%"></h1>
    <p class="lead">Somos un grupo de programadores que se encuentran interesados acerca del estado orbital de la Tierra concretamente. No nos interesa que existan escombros espaciales alrededor de la Tierra para estobar a los satélites realmente útiles, a nadie le gustaría eso (o debería).</p>
    <hr class="my-4">
    <p>Para ello dedicaremos esta plataforma web a informar a la sociedad de la importancia de los escombros que quedan desperdigados por el espacio. No solo eso si no que presentaremos un videojuego dedicado a la recolección de los distintos tipos de elementos inútiles alrededor de la Tierra.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink="/demo" role="button">Mirar demo</a>
    </p>
</div>
<img src="assets/images/team_photo.jpeg" alt="Team Photo" width="100%">